<?xml version="1.0" ?>
<robot name="alphasense_standalone" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find halo_description)/urdf/alphasense.urdf.xacro" />
  <link name="base" />
  <xacro:alphasense parent="base">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alphasense>
</robot>
