<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true" />
  <arg name="simulation" default="true" />

  <include file="$(find halo_description)/launch/load.launch">
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node if="$(arg rviz)" name="halo_rviz" pkg="rviz" type="rviz" args="-d $(find halo_description)/config/display_urdf.rviz" />
</launch>

